@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  --font-main: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
  --font-heading: "Roboto Serif", Georgia, "Times New Roman", serif;
  --primary-color: #084f5d;
  --secondary-color: #fdfaf1;
  --acent-color: #ffd6f5;
  --hover-color: #00ffff;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--primary-color);
}

p {
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--primary-color);
}

figcaption {
  font-family: var(--font-main);
  font-size: 0.75rem;
  color: var(--primary-color);
}

a {
  font-family: var(--font-main);
  font-size: 1rem;
  cursor: pointer;
}

a:focus {
  outline: 2px solid #a7fa00;
  padding: 0.5rem;
}

/* styling voor de algemene onderdelen die op iedere pagina terugkomen */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  text-decoration: underline;
  font-size: 1.5rem;
  font-family: var(--font-main);
  z-index: 100;
}

.skip-link:focus {
  top: 20px;
  left: 15px;
  border: 3px solid var(--secondary-color);
  border-radius: 0.5rem;
  outline: 3px solid #a7fa00;
  z-index: 1000;
}

.logo-home {
  width: 10rem;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px grey;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

.footer-text {
  color: var(--secondary-color);
}

footer a {
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--secondary-color);
}

/* Navigatie styling */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

/* Standaard is het menu verborgen op kleine schermen */
.navbar-links {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}

/* styling voor navigatielijst */
.navbar-links ul {
  list-style: none;
  flex-direction: column;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0;
}

.navbar-links ul li {
  margin: 0.25rem;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  width: 95%;
  padding: 0.5rem;
}

.navbar-links ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
}

/* Toon toggle-button op kleine schermen */
.toggle-button {
  display: block;
  font-size: 1.5rem;
  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px grey;
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 0.5rem;
}

/* Screen reader-only styling */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Menu tonen wanneer de .active klasse aanwezig is */
.navbar-links.active {
  display: block;
}

/* styling voor index.html mobile*/

.introductie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
}

.afbeelding-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.afbeelding-home img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px grey;
}

.afbeelding-home figcaption {
  width: 40%;
  margin-top: 0.5rem;
}

.intro-text {
  width: 90%;
  margin: 1rem 0;
  text-align: center;
}

.intro-text h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* styling portfolio webdesign mobile */

.portfolio-overzicht {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

.project-lijst {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1rem;
}

.intro-portfolio {
  width: 85%;
  margin: 0.5rem 0;
  text-align: center;
}

.intro-portfolio h1 {
  font-size: 2.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 85%;
  min-height: 200px;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px grey;
}

.project-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.project-card img {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  box-shadow: 0 3px 5px grey;
}

.project-card-text {
  text-align: center;
  width: 75%;
}

.project-card h2 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.project-card-text p {
  color: var(--secondary-color);
}

/* stijl voor project.html mobile */

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.project-doel {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.project-proces {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.project-resultaat {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.skills {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.project h1 {
  font-size: 2.5rem;
}

.project h2 {
  font-size: 1.5rem;
}

.project p {
  text-align: center;
}

.afbeeldingen-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
}

.project-afbeelding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.project-afbeelding img {
  width: 90%;
  height: auto;
  border: 2px solid grey;
  border-radius: 1rem;
  box-shadow: 0 3px 5px grey;
  margin: 0.5rem;
}

.project-afbeelding figcaption {
  width: 90%;
  height: auto;
}

.skills ul {
  color: var(--primary-color);
  font-family: var(--font-main);
  list-style-type: none;
}

/* stijl voor portfolio-foto mobile */

.foto-portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.foto-portfolio h1 {
  font-size: 2.5rem;
}

.foto-portfolio p {
  text-align: center;
}

.fotografie-afbeelding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.fotografie-afbeelding img {
  width: 90%;
  height: auto;
  border: 2px solid grey;
  border-radius: 1rem;
  box-shadow: 0 3px 5px grey;
  margin: 0.5rem;
}

.fotografie-afbeelding figcaption {
  width: 90%;
  height: auto;
}

/* Stijl voor voor grotere schermen */
@media (min-width: 768px) {
  .logo-home {
    width: 13rem;
    height: auto;
  }

  a:hover {
    color: var(--hover-color);
    padding: 0.5rem;
    text-decoration: underline;
  }

  p {
    font-size: 1.125rem;
  }

  /* styling voor navigatie*/
  /* Verberg toggle-button */
  .toggle-button {
    display: none;
  }

  /* Toon de links als button */
  .navbar-links {
    display: flex;
    width: auto;
    position: static;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
  }

  .navbar-links ul li {
    margin-left: 1.5rem;
    margin-right: 0;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
    box-shadow: 3px 3px 3px grey;
  }

  .navbar-links ul li a {
    font-size: 1.125rem;
  }

  .navbar-links ul li a:hover {
    color: var(--hover-color);
    text-decoration: underline;
  }

  /* styling voor index.html */

  .introductie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;
  }

  .afbeelding-home img {
    width: 75%;
    height: auto;
  }

  .afbeelding-home figcaption {
    width: 75%;
  }

  .intro-text {
    margin-left: 1rem;
    text-align: left;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  .intro-text p {
    margin-bottom: 0.5rem;
  }

  /* styling voor portfolio-webdesign */

  .portfolio-overzicht {
    height: 100vh; /* weghalen wanneer er meer projecten bijkomen*/
    justify-content: center;
    gap: 2rem;
  }
  .project-lijst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .project-card {
    width: calc(50% - 0.5rem);
    min-height: 400px;
    margin: 0;
  }

  .intro-portfolio {
    width: 75%;
  }
  .intro-portfolio h1 {
    font-size: 3.5rem;
  }

  /* styling voor project.html */

  .project h1 {
    font-size: 3.5rem;
  }

  .project h2 {
    font-size: 2rem;
  }

  .project-doel {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1rem;
  }

  .project-proces {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1rem;
  }

  .project-resultaat {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1rem;
  }

  .project-afbeelding {
    width: 45%;
  }

  .project-text {
    text-align: center;
    width: 40%;
  }

  /* styling voor portfolio fotografie*/

  .foto-portfolio h1 {
    font-size: 4rem;
  }

  .foto-portfolio p {
    width: 75%;
    margin: 1rem 0;
  }

  .fotografie-afbeelding {
    width: 50%;
  }
}
